{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>上市公司年报信息搜索平台</title>
        <link REL="SHORTCUT ICON" HREF="{% static "images/favicon.ico" %}"/>
        <link type="text/css" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link type="text/css" href="../static/bootstrap/css/font-awesome.css" rel="stylesheet">
    </head>

    <body>
        <div id="content" class="d-flex flex-column justify-content-center mt-5 p-5">
            <div class="d-flex justify-content-center mt-5">
                <p class="display-3 mt-5">上市公司年报信息搜索平台</p>
            </div>
            <div id="search" class="d-flex justify-content-center mt-3">
                <form action="search.html" method="get" class="col-8">
                    <div class="input-group">
                        <input id="searchInput" type="text" class="form-control" name="input" value="{{ str }}" placeholder="{{ str }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="searchButton">搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="../static/jquery/jquery-3.3.1.min.js"></script>
        <script src="../static/jquery/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
