{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>上市公司年报信息搜索平台</title>
        <link REL="SHORTCUT ICON" HREF="{% static "images/favicon.ico" %}"/>
        <link type="text/css" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link type="text/css" href="../static/bootstrap/css/font-awesome.css" rel="stylesheet">
    </head>

    <body class="pt-lg-5">
        <div id="content" class="d-flex flex-column justify-content-center mt-lg-5 p-lg-5">
            <div class="d-flex justify-content-center mt-lg-5">
                <p class="display-3 mt-5">上市公司年报信息搜索平台</p>
            </div>
            <div id="search" class="d-flex justify-content-center mt-3">
                <form action="search.html" method="get" class="col-8">
                    <div class="input-group input-group-lg">
                        <input id="searchInput" type="text" class="form-control" name="input" value="{{ str }}" placeholder="{{ str }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" id="searchButton">
                                <i class="fa fa-search"></i>
                                搜索
                            </button>
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center mt-4">
                        <label class="mt-1" for="report">年报类型：</label>
                        <select  class="form-control col-2" name="report">
                            <option value="volvo">年报</option>
                            <option value="saab">半年报</option>
                            <option value="fiat">年报摘要</option>
                            <option value="audi">半年报摘要</option>
                        </select>
                        <label class="mt-1 ml-4" for="year">年报年份：</label>
                        <select  class="form-control col-2" name="year">
                            <option value="volvo">2017</option>
                            <option value="saab">2016</option>
                            <option value="fiat">2015</option>
                            <option value="audi">2014</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <script src="../static/jquery/jquery-3.3.1.min.js"></script>
        <script src="../static/jquery/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
