{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>上市公司年报信息搜索平台</title>
        <link REL="SHORTCUT ICON" HREF="{% static "images/favicon.ico" %}"/>
        <link type="text/css" href="../static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link type="text/css" href="../static/bootstrap/css/font-awesome.css" rel="stylesheet">
        <style>
            .btn_a:hover{
                text-decoration: none
            }
        </style>
    </head>

    <body>
        <div id="body" class="p-4">
            <nav class="bg-secondary fixed-top">
                <div class="col-12">
                    <div id="search" class="mt-3 mb-3 ml-4">
                        <form class="d-flex" action="search.html" method="get">
                            <div class="input-group col-6">
                                <input id="searchInput" type="text" class="form-control" name="input" value="{{ str }}" placeholder="{{ str }}">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" id="searchButton">
                                        <i class="fa fa-search"></i>
                                        搜索
                                    </button>
                                </div>
                            </div>
                            <div class="form-group mb-0 d-flex col-6">
                                <label class="mb-0 mt-2" for="report">年报类型：</label>
                                <select  class="form-control col-3" name="report">
                                    <option value="volvo">年报</option>
                                    <option value="saab">半年报</option>
                                    <option value="fiat">年报摘要</option>
                                    <option value="audi">半年报摘要</option>
                                </select>
                                <label class="mb-0 mt-2 ml-4" for="year">年报年份：</label>
                                <select  class="form-control col-3" name="year">
                                    <option value="volvo">2017</option>
                                    <option value="saab">2016</option>
                                    <option value="fiat">2015</option>
                                    <option value="audi">2014</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
            <div id="context" class="mt-5">
                <div id="text" class="mr-4 ml-4">
                    <table class="table">
                        {% for news in contacts %}
                            <tr class="row mt-1 mb-1">
                                <td class="col-12">
                                    <div>
                                        <h6>
                                            <a href="result.html?input={{ str }}&id={{ news.4 }}" style="font-size: large">
                                                    {% autoescape off %}
                                                        {{ news.0 }}
                                                    {% endautoescape off %}
                                            </a>
                                            <a class="btn_a ml-2" href="filepage.html?filename={{ news.2 }}&filemode=pdf&fileset=report">
                                                <button class="btn btn-danger btn-sm" href="filepage.html?filename={{ news.2 }}&filemode=pdf&fileset=report">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                    PDF
                                                </button>
                                            </a>
                                            <a class="btn_a ml-2" href="filepage.html?filename={{ news.2 }}&filemode=txt&fileset=data">
                                                <button class="btn btn-dark btn-sm" href="filepage.html?filename={{ news.2 }}&filemode=txt&fileset=data">
                                                    <i class="fa fa-file-text-o"></i>
                                                    TXT
                                                </button>
                                            </a>
                                        </h6>
                                    </div>
                                    <div class="col-5 text-secondary">
                                        <small>
                                            {% autoescape off %}
                                                {{ news.1 }}
                                            {% endautoescape off %}
                                        </small>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="page" class="ml-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if contacts.has_previous %}
                                <li class="page-item"><a class="page-link" href="?input={{ str }}&page=1">&laquo;首页</a></li>
                                <li class="page-item"><a class="page-link" href="?input={{ str }}&page={{ contacts.previous_page_number }}">{{ contacts.previous_page_number }}</a></li>
                            {% endif %}
                            {% if contacts %}
                                <li class="page-item active"><a class="page-link" href="#">{{ contacts.number }}</a></li>
                            {% endif %}
                            {% if contacts.has_next %}
                                <li class="page-item"><a class="page-link" href="?input={{ str }}&page={{ contacts.next_page_number }}">{{ contacts.next_page_number }}</a></li>
                                <li class="page-item"><a class="page-link" href="?input={{ str }}&page={{ contacts.paginator.num_pages }}">尾页&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <script src="../static/jquery/jquery-3.3.1.min.js"></script>
        <script src="../static/jquery/popper.min.js"></script>
        <script src="../static/bootstrap/js/bootstrap.js"></script>
    </body>
</html>
